Skip to content
Product
Solutions
Open Source
Pricing
Search
Sign in
Sign up
Yashshri2000
/
LMS
Public
Code
Issues
Pull requests
Actions
Projects
Security
Insights
LMS/djProject/templates/systemUser/login.html
@Yashshri2000
Yashshri2000 first commit
Latest commit cfba25d on Jul 15, 2022
 History
 1 contributor
30 lines (25 sloc)  720 Bytes

{% load static %}
<html>
    <head>
        <link rel="stylesheet" href={% static 'signUp.css' %}>
    </head>

<body>
    <form method="POST">
        {% csrf_token %}
        <h2><b>LOGIN : </b></h2>
        <div class="user">
            <label>
                Email:
                <input type="email" name="email" id="sign" required>
            </label><br>
            <label>
                Passward:
                <input type="password" name="pwd" id="sign" required>
            </label><br>

            <input type="submit" value="LOGIN" name="login" id="login">
       
        </div>

        <p>Don't have an account ? <a href={% url 'signUp' %}>signUp</a> 
        </p>

    </form>
</body>
</html>
